*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box{
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulsante{
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

/*Header*/

.debug{
  background-color: #DAA520;
  border: 1px dashed black;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3161E0;
  height: 80px;
}

.logo{
  display: flex;
  flex-grow: 1;
  margin-left: 10%;
  width: 20%;
}

.img{
  padding: 10px;
}

nav{
  width: 60%;
  padding: 10px;
}

nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  
}

nav ul li{
  padding: 0px 4px;
  }

nav ul li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
}  

.login{
  margin-right: 10%;
  padding: 10px;
}



/*Hero*/

.container-hero{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero{
  width: 47%;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

h1{
  font-size: 50px;
}

.fa-solid{
  padding-right: 10px;
}

.download, .open-browser{
  padding: 15px 12px;

}

.open-browser{
  background-color: black;
  color: white;
  margin-left: 30px;
}

h1, p, button{
  padding: 15px 0px;
}


/*Main*/

h2{
  font-size: 50px;
}

h3{
  font-size: 30px;
  
}

.paragrafi{
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 40px;
}

.section-grey{
  background-color:#F6F6F6 ;
}

.text{
  width: 38%;
  height: 885px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image{
  width: 62%;
  height: 885px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.big-container{
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.star{
  width: 55%;
  background-image: url(../img/stars.svg);
  background-position: center;
  min-height: 48px;
}

.big-container .pulsante{
  background-color: #8EA1E1;
  color: white;
}

/*Footer*/

.colonna-grande h3{
  color: #8EA1E1;
}

footer p{
  color: white;
  font-weight: bold;
}

.footer-up{
  height: 655px;
  background-color: #23272A;
  display: flex;
}

.colonna-grande{
  width: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.colonna-piccola{
  background-color: #20B2AA;
  border: 1px dashed white;
  width: 17.5%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-down{
  height: 115px;
  background-color: #23272A;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 1px;
}

.footer-container{
  background-color: #7FFFD4;
  width: 1250px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo{
  background-color: #FFB6C1;
  border: 1px dashed black;
  display: flex;
  padding: 5px;
}

.footer-button{
  background-color: #FFB6C1;
  border: 1px dashed black;
  display: flex;
  padding: 5px;
}

#italy{
  width: 30px;
  height: 20px;
}